/* Styles go here */
.id {
  border-radius: 50%;
}

.network {
  width: 125px;
  height: 43px;
  color: #FFFFFF;
  background-color: #303030;
  border: 1mm ridge #55FF55;
}

.balance {
  width: 125px;
  height: 43px;
  color: #FFFFFF;
  background-color: #505050;
  border: 1mm ridge #55FF55;
}

.account {
  width: 150px;
  height: 43px;
  color: #55FF55;
  background-color: #707070;
  border: 1mm ridge #55FF55;
}

.bgDark7 {
  background-color: #1D1D1D;
}

.navBorderBottom{
  border-bottom: 1mm ridge rgba(85, 255, 85, .8)
}

.loading{
  height: 1440px;
  background-color: #1D1D1D;
}

p {
  margin: 5px
}

.shadow-md, .shadow-xl {
  box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow) !important;
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06) !important;
}
.rounded-t-lg {
  border-top-left-radius: .5rem !important;
  border-top-right-radius: .5rem !important;
}
.max-w-sm {
  max-width: 24rem !important;
}
.w-full {
  width: 100% !important;
}
img, video {
  max-width: 100%;
  height: auto;
}
.hover\:shadow-2xl:hover {
  --tw-shadow: 0 25px 50px -12px rgba(0,0,0,0.25) !important;
}

.rounded-img{
  border-radius: .5rem 0.5rem 0 0 !important;
}
.rounded-lg {
  border-radius: .5rem !important;
}
.flex-col {
  flex-direction: column !important;
}
.cursor-pointer {
  cursor: pointer !important;
}

.flex-1 {
  flex: 1 1 0% !important;
}

.w-56 {
  width: 15.625rem !important;
}

.gap-3 {
  gap: .75rem !important;
}

.flex-col {
  flex-direction: column !important;
}
.w-full {
  width: 100% !important;
}
.h-full {
  height: 100% !important;
}
.flex {
  display: flex !important;
}

.md\:justify-between {
  justify-content: space-between !important;
}
.md\:items-start {
  align-items: flex-start !important;
}
.md\:flex-col {
  flex-direction: column !important;
}
.px-6 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}
.text-white {
  color: rgba(244,244,244,var(--tw-text-opacity)) !important;
}
.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.justify-between {
  justify-content: space-between !important;
}

.items-center {
  align-items: center !important;
}

.bg-nav{
  background-color : #111111;
}

.md\:px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.text-xl {
  font-size: 1.25rem !important;
}
.text-lg, .text-xl {
  line-height: 1.75rem !important;
}
.pb-20 {
  padding-bottom: 5rem !important;
}
.px-5 {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
}
.justify-start {
  justify-content: flex-start !important;
}

.mt-24 {
  margin-top: 6rem !important;
}
.max-w-6xl {
  max-width: 75rem !important;
}
.self-end {
  align-self: flex-end !important;
}

.font-bold {
  font-weight: 700 !important;
}
.font-semibold {
  font-weight: 600 !important;
}
.text-sm {
  font-size: .875rem !important;
  line-height: 1.25rem !important;
}

.h-3 {
  height: .75rem !important;
}
.w-9 {
  width: 1.8rem !important;
}

.button-disable{
  border: 1px ridge #111111 !important;
  color: "#8B8B8B" !important;
  width: 180px !important;
}

.button-enable{
  border: 2px ridge #ff0000 !important;
  color: "#8B8B8B" !important;
  width: 180px !important;
}

.networkNav{
  padding: 0.5rem 1rem;
  border: 1mm ridge #009985;
  border-radius: 0.50rem !important;
  width: 125px;
  height: 43px;
}
.balanceNav{
  padding: 0.5rem 1rem;
  border: 1mm ridge #009985;
  border-radius:  0.50rem !important;
  width: 140px;
  height: 43px;
}
.accountNav{
  padding: 0.5rem 1rem;
  border: 1mm ridge #009985;
  border-radius:  0.50rem !important;
  width: 180px;
  height: 43px;
}